
.login-page {
  width: 640px;
  max-width: 100%;
  padding: 2% 0 0;
  margin: auto
}

.login-page .form{
  max-width: 100%;
}

.login-select{
  margin-bottom: 15px;
}

.login-select div[class*="ValueContainer"] {
  height: 53px;
}

.mb-15{
  margin-bottom: 15px;
}

.settings-ip input,
.login-page .form input{
  background-color: hsl(0,0%,100%);
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.btn-style{
  cursor: pointer;
}

.custom-popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0000007a;
  height: 100vh;
  z-index: 10;
}

.custom-popup.open{
  display: block;
}

.custom-popup__inner{
  max-width: 500px;
  margin: 100px auto;
  background: white;
  padding: 20px;
}

.custom-popup__header{
  position: relative;
  border-bottom: 1px solid #d6d6d6;
  margin: 0 -20px;
  padding: 0 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.custom-popup__name{
  font-size: 20px;
}

.custom-popup__close{
  position: absolute;
  top: -11px;
  right: 12px;
  cursor: pointer;
}

.custom-popup__btn{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.checkin-page{
  width: 740px;
  margin-bottom: 400px;
}

.checkin-page form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkin-page input{
  width: 48% !important;
}

.settings-ip__inner{
  padding: 0 20px;
}

.settings-ip__add{
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.settings-ip__add input{
  height: 38px;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.settings-ip__list{
  padding: 20px;
  border: 1px solid #eee;
  margin: 20px 0;
  max-width: 460px;
}

.settings-ip__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.settings-ip__item:last-child{
  margin-bottom: 0;
}

.settings-ip__desc{
  max-width: 170px;
  width: 100%;
  font-size: 14px;
}

.settings-ip__remove{
  cursor: pointer;
}

.settings-ip__title{
  font-size: 19px;
  margin-top: 20px;
  font-weight: bold;
}

.settings-ip__ip{
  width: 110px;
}

.ipToggle{
  margin: 20px 0;
  justify-content: flex-start;
  align-items: center;
}

.rentSale.ipToggle span {
  font-weight: bold;
  font-size: 14px;
  width: 44px;
  text-align: center;
}

.rentSale.ipToggle label{
  margin: 0;
}

.settings-table-permissions{
  margin-top: 20px;
  padding-left: 15px;
}

.settings-table-permissions p{
  font-size: 25px;
  font-weight: bold;
}

.settings-table-permissions table td,
.settings-table-permissions table th{
  border: 1px solid black;
  padding: 5px;
}

.event-none{
  pointer-events: none;
}
